*{
    margin: 0;
    box-sizing:content-box;
}


.r{
    background-color: silver;   
    }
    h1{
        background-color: grey;
        border: 1px solid;
        color: blanchedalmond;
        /* margin: 20px; */
        padding: 2px;
        text-align: center
    }
    h2{
      text-align:left; 
      background-color: teal; 
      color: black;
      font-size: 20px;
      margin: 30px;
      border-radius:0 50px 50px 0;
    }
    
    
    .image{
        text-align:center;
    }
    .name{
        text-align: center;
    }
    .content{
        text-align: center;
    }
    .content1{
        text-align: center;
    }
    th,td{
        background-color: aliceblue;
        border: 1px solid;
        align-content: center;
    }
    p{
        text-align:left;
     } 
     .cont{
    
      display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 20px;
            border: 2px solid black;
            
     }
     
    
     
     .cont1{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        margin: 20px;
        border: 2px solid black;
     }
     .jit1{
        margin-right: 150px;
     }
